/* fonts link */
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Gentium+Book+Plus&family=Kanit&family=Oswald&family=Poppins&family=Raleway&family=Solway&display=swap');
/* body style    */
body{
    margin: 0; background-color:  #E5E5E5;; padding: 0; font-style: font-family: 'Bitter', serif;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Solway', serif;; 
}
/*header section*/
.navigation{
    display: flex; align-items: center; justify-content: space-around; background-color: #562EFF; color: #FFFFFF;
}
.with-icon{
    display: flex; align-items: center;
}
.with-icon p{
    margin-left: 15px; font-size: 24px; font-weight: 600px;
}
.with-anhore{
   display: flex; align-items: center; 
}
.anhore{
    text-decoration: none; margin-right: 35px;color: #FFFFFF;
}
.header-photo{
    height: 51px; width: 51px;
}
div img{
    border-radius: 50%;
}
/* first container  */
.body-section{
    background-color: #FFFFFF; width: 870px; margin-left: 230px;
}
.player-list{
    padding-top: 33px; padding-left: 80px; font-weight: 600px; font-size: 24px; color: #562EFF;
}
.container{
    display: grid; grid-template-columns: repeat(3, 1fr);
}
.container div{
    display: flex; justify-content: center; align-items: center;
}
.container div img{
    height: 56px; width: 56px; margin-right: 20px;
}